[globals]

base_url=http://localhost/global-traffic-visualization

db_str=mysql:host=localhost;port=3306;dbname=traffic
db_username=root
db_password=

websocket_host=localhost
websocket_port=8000
websocket_application=/traffic
websocket_action=echo
websocket_login_action=login
websocket_admin_token=49e50181c489af9a17e2bcc53dc906e0

traffic_marker_timeout=10000
xhour_action_url=/api/lastHourTraffic